*{
    margin: 0px;
    padding: 0px;
    font-family: "微软雅黑";
}
/*头部*/
#head{
    height: 100px;
    width: 1200px;
    /*width: 85%;*/
    background-color: goldenrod;
    text-align: center;
    font-size: 20px;
    line-height: 100px;
    margin: 0 auto;
}
/*尾部*/
#foot{
    height: 100px;
    width: 1200px;
    /*width: 85%;*/
    background-color: azure;
    text-align: center;
    font-size: 20px;
    line-height: 100px;
    margin: 0 auto;
    margin-top: 10px;
}
/*主体*/
#main{
	height: 200px;
    width: 1200px;
    /*width: 85%;*/
    background-color: goldenrod;
    /*text-align: center;*/
    font-size: 20px;
    /*line-height: 100px;*/
    margin: 0 auto;
}
#head div{
    display: none;
    font-size: 20px;
    height: 30px;
    width: 100px;
    background-color: green;
    float: right;
    line-height: 30px;
    margin-top: 35px;
}
#head ul{
    width: 80%;
}
#head ul li{
    width: 20%;
    float: left;
    text-align: center;
    list-style: none;font-size: 20px;
}
#main{
    height: auto;
    margin: 0px auto;
    overflow: hidden;
}
b{
	color: blue;
}
/*表格*/
#tb1{
	width: 100%;
	height: auto;
	border-collapse: collapse;
	border-top: solid 0px;
	border-bottom: solid 0px;
	margin: 0px auto;
}
#tb2{
	width: 100%;
	height: auto;
	border-collapse: collapse;
	border-top: solid 0px;
	border-bottom: solid 0px;
	border-left: solid 0px;
	border-right: solid 0px;
}
.center{
    width: 100%;
    height: auto;
    border-left: 0px solid #FFF;
    border-right: 0px solid #FFF;
    /*box-sizing: border-box;*/
    /*line-height: 600px;*/
    /*float: left;*/
    /*width: 100%;*/
    background-color: azure;
}
/*导航*/
#nav{
	height: 50px;
    width: 1200px;
    /*width: 85%;*/
    background-color: goldenrod;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    margin: 0 auto;
    border-top: solid 2px saddlebrown;
    border-bottom: solid 2px saddlebrown;
}
#nav ul{
    width: 100%;
}
#nav ul li{
    width: 20%;
    float: left;
    text-align: center;
    list-style: none;font-size: 20px;
}
/*上一页与下一页*/
#page{
	height: 50px;
    width: 1200px;
    /*width: 85%;*/
    background-color: goldenrod;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    margin: 0 auto;
}
@media only screen and (max-width: 1200px) {
    #head,
    #nav,
    #page,
    #foot,
    #main{
    width: 100%;
    }
}
@media only screen and (max-width: 980px) {
    .left,.right{
        display: none;
    }
    .center{
        width: 100%;
        height: auto;
        border-right: hidden;
    }
}
@media only screen and (max-width: 640px) {
    .left,
    .center,
    .right{
        width: 100%;
        display: block;
        height: 200px;
        /*line-height: 200px;*/
    }
        .left,.right{
        display: none;
    }
    .center{
        border: hidden;
        border-top: 0px  solid #FFFFFF;
        border-bottom: 0px solid #FFFFFF;
        height: auto;
        /*line-height: 600px;*/
    }
    #head ul{
        display: none;
    }
    #head div{
        display: block;
    }
}
